
		*{
			padding: 0px 0px;
			margin: 0px 0px;
			box-sizing: border-box;
			font-family: 'Arimo', sans-serif;

		}

		/* styling for the side navs ................*/

		#container{
			width: 100%;
			min-width:1000px;
			height: 920px;
		}
		#container #list1{
			width: 20%;
			float: left;
			height: 100%;
			background-color:rgb(122, 217, 104);

		}
		#container #list2{
			width: 20%;
			float: left;
			height: 100%;
			background-color: rgb(122, 217, 104);
		}

		/*styling for main body .........................*/

		#container #outerBody {
			float: left;
			width: 60%;
			height: 100%;
			overflow-y: scroll;
		}
		#container #outerBody #body{
			width: 80%;
			min-height: 100%;
			margin: 0 auto;
			background-color: #fafafa;
			border-radius: 50px 0px;
			padding: 50px 100px;
		}
		#container #outerBody #body #msgicon{
			position: relative;
			top: -50px;
			left: 0px;
			width: 150px;
			background-color:rgba(122, 217, 104,0.8) ;
			height: 2.5em;
			text-align: center;
			padding: 5px 0px;
			border:2px dashed white;
			color: white;
			font-family: comic sans ms;
			font-size: 20px;
		}
		#container #outerBody #body #new a{

			text-decoration: none;
		}
		#container #outerBody #body #new .frndrqst{
			width: 100%;
			background-color: #e57373;
			padding: 20px 10px;
			text-align: left;
			border-radius: 10px;
			color: white;
			height: 50px;
			overflow: hidden;
			transition: 1s;
			word-wrap: break-word;
		}
		
		#container #outerBody #body #new .frndrqst:hover{
			background-color: #f44336;
			padding: 20px 10px;
			height: auto;
			
	    }
	    #container #outerBody #body #new .frndrqst span{
	    	color: black;
	    	font-weight: bold;
	    	/*word-spacing: 3px;*/
	    	letter-spacing: 2px;
	    }
		#container #outerBody #body #new .newmsg{
			width: 100%;
			background-color: #e1bee7;
			padding: 20px 10px;
			text-align: left;
			border-radius: 10px;
			color: white;
			height: 50px;
			overflow: hidden;
			transition: 2s;
		}
		
		#container #outerBody #body #new .newmsg:hover{
			background-color: #ba68c8;
			padding: 20px 10px;
			height: auto;
			
	    }
	    #container #outerBody #body #new .newmsg span{
	    	text-decoration:underline;
	    	color: black;
	    }
		