*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}
body{
/*
    background-image: url(../images/bg.jpg);
    background-size: cover;
*/
}
#container{
    background-color: red;
    width: 100%;
    height: 100%;
    position: relative;
}

#container #info{
    width: 30%;
    height: 100%;
    background-color: #55f273;
    float: left;
}
#container #info img{
    width: 300px;
    height: auto;
    position: absolute;
    top: 40%;
    left:22%;
}
#container #Form{
    width: 70%;
    height: 100%;
    background-color: white;
    float: left;
    
    
}
#container #Form #signup{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-150px,-250px);
    box-shadow: -10px -10px 20px #eee;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(185, 247, 170);
    width:750px;
    height: 500px;
    
}
#container #Form #signup .input{
    position: relative;
    text-align: left;
    padding: 20px 0;
}
#container #Form #signup .input input{
    position: relative;
    outline: none;
    width: 90%;
    height: 30px;
    padding: 5px;
    background-color: transparent;
    border: 0px;
    border-bottom: 1.1px solid rgb(121, 114, 114);
    font-size: 17px;
    color: rgba(0,0,0,0.8);
    z-index: 1;
}
#container #Form #signup #name input{
    width: 45%;
} 
#container #Form #signup .input input:focus{
    border-bottom: 2px solid  #2196F3 ;
}
#container #Form #signup .input label{
    position: absolute;
    top: 25px;
    left: 5px;
    color: rgba(42, 35, 35,0.8);
    transition: 0.3s;
}
#container #Form #signup .input input:focus~label,
#container #Form #signup .input input:valid~label{
    top: -5px;
    color:dodgerblue;
    font-size: 13px;
}
input[type=submit]{
    background-color: #2196F3;
    width: 30%;
    height: 40px;
    color: white;
    font-weight:bold; 
    border-radius: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
    position: relative;
}
input[type=submit]:hover{
    background-color: #1565C0;
    box-shadow: 2px 2px 10px #1565C0;
}
/*
#container #Form #signup .input input{
    position: relative;
    outline: none;
    width: 100%;
    height: 30px;
    padding: 5px;
    background-color: transparent;
    border: 0px;
    border-bottom: 1.1px solid rgb(121, 114, 114);
    font-size: 17px;
    text-align: left;
    z-index: 1;
    color: rgba(0,0,0,0.8);
}
#container #Form #signup .input input:focus{
    border-bottom: 2px solid  #2196F3 ;
}
#container #Form #signup .input label{
    position: absolute;
    top: 25px;
    left: 5px;
    color: rgb(42, 35, 35);
    transition: .3s;
}
#container #Form #signup .input input:focus~label,
#container #Form #signup .input input:valid~label{
    top: -5px;
    color:dodgerblue;
    font-size: 13px;
}
.input{
    position: relative;
    text-align: left;
    padding: 20px 0;
}
input[type=submit]{
    background-color: #2196F3;
    width: 30%;
    height: 40px;
    color: white;
    font-weight:bold; 
    border-radius: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #1565C0;
    box-shadow: 2px 2px 10px #1565C0;
}
input[name=signup]{
    background-color: #F44336;
}
*/
